---
import { Image } from 'astro:assets'
import WaterHeater from '@src/assets/water-heater.jpg'

export interface StatItem {
	value: string // exp: "150+" atau "Expert"
	label: string // exp: "Equipment Types"
}

export interface Props {
	intro1?: string
	intro2?: string

	stats?: StatItem[]

	image?: string
	imageAlt?: string
}

const {
	stats = [
		{ value: '2800+', label: 'Residential & Commercial Projects' },
		{ value: '10+', label: 'Years of Plumbing Expertise' },
		{ value: '5', label: 'Star Ratings Across Google & Yelp' }
	],

	image = '/img/client.jpg',
	imageAlt = 'Equipment Consultation'
} = Astro.props
---

<section class="py-20 bg-gray-50">
	<div class="max-w-7xl mx-auto px-4">
		<div class="grid lg:grid-cols-2 gap-16 items-center">
			<!-- LEFT CONTENT -->
			<div class="space-y-6">
				<!-- INTRO PARAGRAPH 1 -->
				<p>
					Our team is dedicated to providing exceptional service to all of our clients,
					no matter where they are located. We know that finding a reliable plumbing service can be a challenge, which
					is why we strive to make the process as straightforward as possible. We are committed to providing
					exceptional customer service, and we are always available to answer any questions you may have.
				</p>
				<p>
					Thank you for considering us for your plumbing needs. We are excited to serve you in your area and look
					forward to working with you.
				</p>

				<!-- STATS GRID -->
				<div class="grid grid-cols-3 gap-8 mt-16">
					{
						stats.map((item) => (
							<div>
								<div class="text-4xl font-display text-primary">{item.value}</div>
								<p class="text-steel-gray">{item.label}</p>
							</div>
						))
					}
				</div>
			</div>

			<!-- RIGHT IMAGE -->
			<div>
				<Image src={WaterHeater} alt="Water heater" class="rounded-2xl shadow-2xl object-cover aspect-4/3" />
			</div>
		</div>
	</div>
</section>
