---
import { Image } from 'astro:assets'
import WaterHeaterImage from '@src/assets/water-heater-1060755_1280.jpg'

export interface StatItem {
	value: string
	label: string
}

const stats: StatItem[] = [
	{ value: '99%', label: 'Equipment Reliability' },
	{ value: '24-48h', label: 'Fast Deployment' },
	{ value: '30%', label: 'Reduced Delays' }
]
---

<section class="py-20 bg-gray-50">
	<div class="max-w-7xl mx-auto px-4">
		<div class="grid lg:grid-cols-2 gap-16 items-center">
			<!-- LEFT CONTENT -->
			<div>
				<!-- LABEL -->
				{
					/*
					label && (
						<div class="inline-block px-4 py-2 bg-primary-soft text-primary-dark rounded-full font-semibold mb-6">
							{label}
						</div>
					)
				*/
				}
				<!-- TITLE -->
				<h2 class="font-display text-4xl md:text-5xl text-dark mb-6">Dependable services you can trust</h2>
				<!-- PROBLEM -->
				<p class="text-lg text-steel-gray mb-6">
					Fluid Plumbing stands out for its dedication to delivering reliable and high-quality services across a broad
					spectrum. With a team of experienced professionals, we ensure each task is executed with precision and care,
					aligning with our commitment to great customer service, quality work, and solid warranties.
				</p>
				<p class="text-lg text-steel-gray mb-6">
					We understand the value of trust in our relationships with clients and strive to exceed expectations with
					every job. Dive deeper into our range of services to discover how we can address your needs.
				</p>
				{/*<!-- SUPPORTING STATS -->
				<div class="grid grid-cols-3 gap-8">
					{
						stats.map((s) => (
							<div>
								<div class="text-4xl font-display text-primary">{s.value}</div>
								<p class="text-steel-gray">{s.label}</p>
							</div>
						))
					}
				</div> */}
			</div>
			<!-- RIGHT IMAGE -->
			<div>
				<Image src={WaterHeaterImage} alt="Plumbing services in Dayton, OH" class="rounded-2xl shadow-2xl object-cover aspect-4/3" />
			</div>
		</div>
	</div>
</section>
